$width: 300px;
.container {
  width: $width;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -$width;
  top: 0;
  bottom: 0;
  background-color: tomato;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 0.5s;
}
.list {
  list-style: none;
  a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    border-bottom: 0.125rem solid transparent;
    color: #fff;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}
.closeBtn {
  margin-left: auto;
  color: #fff;
  padding: 0.5rem;
}
